<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="col-12">
      <label for="">Descrição</label>
      <input class="w-12" type="text" pInputText />
    </div>

    <div class="col-12">
      <label for="" style="display: block;">Vencimento</label>
      <input type="text" style="width: 95px" pInputText />

      <label> até </label>
      <input type="text" style="width: 95px" pInputText />
    </div>

    <div class="col-12">
      <button pButton label="Pesquisar"></button>
    </div>
  </div>

  <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>

  <div class="col-12">
    <button pButton label="Novo Lançamento"></button>
  </div>
</div>

