<div class="container">

  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="grid">
      <div class="col-12">
        <h1>Lançamentos</h1>
      </div>

      <div class="col-12">
        <label for="">Descrição</label>
        <input class="w-12" type="text" pInputText
          name="descricao"
          [(ngModel)]="descricao"/>
      </div>

      <div class="col-12">
        <label for="" style="display: block;">Vencimento</label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}"
          name="vencimentoInicio"
          [(ngModel)]="dataVencimentoInicio">
        </p-calendar>

        <label> até </label>
        <p-calendar dateFormat="dd/mm/yy" [inputStyle]="{width: '95px'}"
          name="vencimentoFim"
          [(ngModel)]="dataVencimentoFim">
        </p-calendar>
      </div>

      <div class="col-12">
        <button pButton label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <app-lancamentos-grid [lancamentos]="lancamentos"></app-lancamentos-grid>

  <div class="col-12">
    <button pButton label="Novo Lançamento" routerLink="/lancamentos/novo"></button>
  </div>
</div>
