<div class="grid">
  <div class="col-12">
    <p-table
      [value]="lancamentos"
      [paginator]="true"
      [rows]="itensPorPagina"
      [totalRecords]="totalRegistros"
      [lazy]="true"
      (onLazyLoad)="aoMudarPagina($event)"
      responsiveLayout="stack"
      styleClass="p-datatable-gridlines"
      #tabela>
      <ng-template pTemplate="header">
        <tr>
          <th>Pessoa</th>
          <th>Descrição</th>
          <th>Vencimento</th>
          <th>Pagamento</th>
          <th>Valor</th>
          <th class="col-acoes">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-lancamento>
        <tr>
          <td>{{ lancamento.person }}</td>
          <td>{{ lancamento.description }}</td>
          <td>{{ lancamento.dueDate | date:'dd/MM/y' }}</td>
          <td>{{ lancamento.paymentDate | date:'dd/MM/y' }}</td>
          <td [style.color]="lancamento.type === 'EXPENSE' ? 'red' : 'blue'" >{{ lancamento.value | currency:'BRL':'symbol':'1.2-2' }}</td>
          <td>
            <div class="flex gap-3">
              <button
                pButton
                pTooltip="Editar"
                tooltipPosition="top"
                [routerLink]="['/lancamentos', lancamento.id]"
                >
                <i class="pi pi-pencil"></i>
              </button>
              <button
                pButton
                pTooltip="Excluir"
                tooltipPosition="top"
                (click)="confirmarExclusao(lancamento)">
                <i class="pi pi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
