<div class="grid">
  <div class="col-12">
    <p-table [value]="pessoas" [paginator]="true" [rows]="2" responsiveLayout="stack" styleClass="p-datatable-gridlines">
      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Status</th>
          <th class="col-acoes">Ações</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pessoa>
        <tr>
          <td>{{ pessoa.nome }}</td>
          <td>{{ pessoa.cidade }}</td>
          <td>{{ pessoa.estado }}</td>
          <td [style.color]="pessoa.ativo ? 'blue' : 'red'">
            {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
          </td>
          <td>
            <div class="flex gap-3">
              <button
                pButton
                pTooltip="Editar"
                tooltipPosition="top">
                <i class="pi pi-pencil"></i>
              </button>
              <button
                pButton
                pTooltip="Excluir"
                tooltipPosition="top">
                <i class="pi pi-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
