<div class="container">
  <form autocomplete="off" (ngSubmit)="pesquisar()">
    <div class="grid">
      <div class="col-12">
        <h1>Pessoas</h1>
      </div>

      <div class="col-12">
        <label for="">Nome</label>
        <input class="w-12" type="text" pInputText
          name="name"
          [(ngModel)]="filtro.name"/>
      </div>

      <div class="col-12">
        <button pButton label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <app-pessoas-grid
    [pessoas]="pessoas"
    [itensPorPagina]="itensPorPagina"
    [totalRegistros]="totalRegistros"
    (paginaMudou)="pesquisar($event)"
    (excluirPessoa)="onExcluirPessoa()">
  </app-pessoas-grid>

  <div class="col-12">
    <button pButton routerLink="/pessoas/nova" label="Nova Pessoa"></button>
  </div>
</div>


