<div class="container logon" >
  <p-card header="Login">
    <form autocomplete=off #loginForm="ngForm">
      <div class="grid" >
        <div class="col-12 md:col-12">
          <input pInputText name="email" type="email" class="w-12"
            minlength="3"
            required ngModel
            [email]="true"
            #email="ngModel"
            pTooltip="Insira um email válido no sistema. Exemplo: usuario123@gmail.com"
            tooltipPosition="right" placeholder="E-mail"
            [(ngModel)]="formLogin.email">

          <app-message *ngIf="(loginForm.touched ||(loginForm.touched && email.invalid))"
            [control]="email"
            error="email"
            text="Insira um e-mail válido">
          </app-message>

          <app-message *ngIf="(loginForm.touched)"
            [control]="email"
            error="required"
            text="Insira um e-mail.">
          </app-message>
        </div>

        <div class="col-12 md:col-12">
          <input pInputText name="senha" type="password" class="w-12"
            required
            ngModel
            #senha
            #senhaControl="ngModel"
            [(ngModel)]="formLogin.password"
            placeholder="Senha">

          <app-message [control]="senhaControl"
           error="required"
           text="Insira uma senha">
          </app-message>
        </div>
      </div>
    </form>

    <ng-template pTemplate="footer">
      <button pButton type="submit"
            [disabled]="loginForm.invalid"
            label="Login"
            (click)="login(email.value, senha.value); senha.value=''">
      </button>
    </ng-template>
  </p-card>
</div>
