<div class="container">
  <form #cadPessoaForm="ngForm" (ngSubmit)="salvar(cadPessoaForm)">
    <div class="grid">

      <div class="col-12">
        <h1>{{editando ? 'Edição de' : 'Nova' }} Pessoa</h1>
      </div>

      <div class="col-12 md:col-12">
        <label class="block">Nome</label>
        <input pInputText type="text" class="w-12"
          name="nome"
          ngModel
          #nome="ngModel"
          required
          minlength="5"
          [(ngModel)]="pessoa.name">

        <app-message [control]="nome" error="required" text="Informe um nome"></app-message>

        <app-message [control]="nome" error="minlength"
          text="Mínimo de {{ nome.errors?.['minlength']?.requiredLength }} caracteres.">
        </app-message>
      </div>

      <div class="col-12 md:col-9">
        <label class="block">Logradouro</label>
        <input pInputText type="text" class="w-12"
          name="logradouro"
          ngModel
          #logradouro="ngModel"
          required
          [(ngModel)]="pessoa.address.street">

        <app-message [control]="logradouro" error="required" text="Informe um logradouro"></app-message>
      </div>

      <div class="col-12 md:col-3">
        <label class="block">Número</label>
        <input pInputText type="text" class="w-12"
          name="numero"
          ngModel
          #numero="ngModel"
          required
          [(ngModel)]="pessoa.address.number">

        <app-message [control]="numero" error="required" text="Informe um número"></app-message>
      </div>

      <div class="col-12 md:col-4">
        <label class="block">Complemento</label>
        <input pInputText type="text" class="w-12"
          name="complemento"
          [(ngModel)]="pessoa.address.complement">
      </div>

      <div class="col-12 md:col-4">
        <label class="block">Bairro</label>
        <input pInputText type="text" class="w-12"
          name="bairro"
          ngModel
          #bairro="ngModel"
          required
          [(ngModel)]="pessoa.address.district">

        <app-message [control]="bairro" error="required" text="Informe um bairro"></app-message>
      </div>

      <div class="col-12 md:col-4">
        <label class="block">CEP</label>
        <p-inputMask class="w-full" [style]="{'width':'100%'}"
          name="cep"
          mask="99.999-999"
          ngModel
          #cep="ngModel"
          [required]="true"
          [(ngModel)]="pessoa.address.zipcode">
        </p-inputMask>

        <app-message [control]="cep" error="required" text="Informe um CEP"></app-message>
      </div>

      <div class="col-12 md:col-6">
        <label class="block">Estado</label>
        <p-dropdown
          placeholder="Selecione"
          [filter]="true"
          [options]="estados"
          [(ngModel)]="estadoSelecionado"
          name="estadoSelecionado"
          (onChange)="listarCidades()"
          #estado="ngModel"
          [required]="true">
        </p-dropdown>
        <app-message [control]="estado" error="required" text="Informe um estado"></app-message>
      </div>

      <div class="col-12 md:col-6">
        <label class="block">Cidade</label>
        <p-dropdown
          placeholder="Selecione"
          [filter]="true"
          [options]="cidades"
          [(ngModel)]="pessoa.address.city.id"
          name="cidade"
          #cidade="ngModel"
          [required]="true"
          [disabled]="!estadoSelecionado">
        </p-dropdown>

        <app-message [control]="cidade" error="required" text="Informe uma cidade"></app-message>
      </div>

      <div class="col-12">
        <p-panel header="Contatos">
          <app-pessoas-cadastro-contato [contatos]="pessoa.contacts"></app-pessoas-cadastro-contato>
        </p-panel>
      </div>

      <div class="flex justify-content-start align-items-center p-2 gap-3 w-12">
        <button pButton type="submit" label="Salvar"
          [disabled]="cadPessoaForm.invalid">
        </button>
        <button pButton type="button" label="Novo" class="p-button-info"
          (click)="novo(cadPessoaForm)"></button>
        <a routerLink="/pessoas">Voltar para a pesquisa</a>
      </div>

    </div>
  </form>
</div>
